.videoCard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  cursor: pointer;
  transition: transform 100ms;
  box-shadow: 3px 3px 5px rgba(15, 56, 47, 0.1);
}
.videoCard:hover {
  transform: scale(1.1);
}
.videoCard > img {
  height: 300px;
  object-fit: contain;
  width: 500px;
  border-radius: 40px;
}
.videoCard > h2 {
  padding-top: 10px;
}
.videoCard__stats {
  display: none;
}
.videoCard:hover > .videoCard__stats {
  display: inline;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.videoCard__stats > .MuiSvgIcon-root {
  padding-left: 10px;
  padding-right: 10px;
}
